@using BDCTechTest.Components.Services
@using System.ComponentModel.DataAnnotations
@inject IServiceBase Service
@implements IDisposable



<h3>Please enter a full Vehicle Registration Number</h3>

<EditForm Model="@model" OnValidSubmit=HandleValidSubmit>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input @bind-value="model.RegNumber" />
    <button type="submit">Check History</button>
</EditForm>




@code {
    //private string regNumber;
    private Model model = new Model();

    //private EditContext editContext;

    private async Task HandleValidSubmit() => await Service.GetMOTDataAsync(model.RegNumber);

    public void Dispose(){}

    //MOVE TO SEPARATE CLASS WHEN MADE
    public class Model
    {
        [Required]
        public string RegNumber { get; set; }
    }
}
