@using BDCTechTest.Components.Services
@using System.ComponentModel.DataAnnotations
@using Newtonsoft.Json
@inject IServiceBase Service
@implements IDisposable

<h3>Please enter a full Vehicle Registration Number</h3>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit" FormName="HistoryForm">


    <label for="input">Enter some text:</label>

    <input @bind="model.RegNumber" />
    <button type="submit">Check History</button>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@if (responseData != null)
{
    <p>@responseData</p>
}

@code {
    private Model model = new Model();
    private string responseData { get; set; }

    async Task HandleValidSubmit()
    {
        var data = await Service.GetMOTDataAsync(model.RegNumber);
        responseData = JsonConvert.SerializeObject(data);
    }

    public void Dispose() { }

    public class Model
    {
        [Required(ErrorMessage = "Please enter a valid registration number.")]
        public string RegNumber { get; set; }
    }
}